<div class="home-header">
    {{#if search}}
        <h1>voce  esta buscando: <span>{{search}}</span></h1>
        {{#if toughtsQty}}
            <p>foram encontrados <span>{{toughtsQty}}</span>tarefas</p>
        {{else}}
            <p>nenhuma tarefa foi encontrado</p>
        {{/if}}
    {{else}}
    <h1>todas as tarefas</h1>
    {{/if}}
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="esta buscando por algo?">
        <input type="submit"class="btn" value="Buscar">
    </form>
    <div class="order-container">
        <span>ordenar por:</span>
        <form action="/" method="get">
            <input type="hidden" name="seach" value="{{this.seach}}">
            <input type="hidden" name="order" value="new">
            <button type="submit"><i class="bi bi-arrow-up"></i></button>
        </form>
        <form action="/" method="get">
            <input type="hidden" name="seach" value="{{this.seach}}">
            <input type="hidden" name="order" value="old">
            <button type="submit"><i class="bi bi-arrow-down"></i></button>
        </form>
        <a href="/">limpar</a>
    </div>
</div>
<div class="toughts-container">
    {{#each toughts}}
        <figure>
            <blockquote>
                "{{this.title}}"
            </blockquote>
            <figcaption>por <span>{{this.User.name}}</span></figcaption>
        </figure>
    {{/each}}
</div>